@model Tessera.ViewModels.UserFormViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password management</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ChangePassword", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    @Html.TextBox("email", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Email)
                </div>
            </div>
            <div class="form-group">
                <label for="currentPassword" class="col-md-2 control-label">Old password</label>
                <div class="col-md-10">
                    @Html.Password("currentPassword", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Password)
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-md-2 control-label">New password</label>
                <div class="col-md-10">
                    @Html.Password("newPassword", null, new { @id = "txtPassword", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Password)
                </div>               
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-md-2 control-label">Confirm password</label>
                <div class="col-md-10">
                    <input type="password" id="txtConfirmPassword" class="form-control"/>
                </div>
            </div>
    <br />
    @ViewBag.Message
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Set password" class="btn btn-default" id="btnSubmit" />
                </div>
            </div>
        }
    </div>
</div>

