@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    @Html.TextBox("email", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    @Html.Password("password", null, new { @class = "form-control" })
                    <br />
                    @ViewBag.Message
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enter" class="btn btn-default"/>
                </div>
            </div>
            <p>
                @Html.ActionLink("Forgot my password", "RememberPass")
            </p>
        }
    </div>
</div>



